<h1>All versions of <%= @policy.name %></h1>
<ul class="policy_versions">
	<% @versions.each do |v| %>
		<li><%= link_to v.created_at.to_date.to_formatted_s(:long), [@policy, v] %></li>
	<% end %>
</ul>
<%= will_paginate @versions %>