// Place all the styles related to the notifications controller here.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  padding: 0;

  font-family: helvetica, sans-serif;
  font-size: 16px;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
  color: #f00;
}

a:hover {
  text-decoration: underline;
}

h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

img {
  border: 0;
}

#page {
}

#header {
  margin: 0;

  height: 100px;
  width: 100%;

  background: #039;
  border-bottom: 8px solid #09f;
  color: #fff;
}

#innerheader {
  margin: 0 auto;

  position: relative;
  height: 100px;
  width: 765px;
}

#header h1#logo {
  padding: 0;
  margin: 0;

  position: absolute;
  bottom: 20px;
  left: 0;

  height: 53px;
  width: 180px;

  background-image: url(logo.png);
  text-indent: -5000px;
}

#header #tagline {
  left: 200px; /* align left-border with #content left-border */
  position: absolute;
  bottom: 16px;
  
  height: 34px;
  width: 296px;

  background-image: url(tagline.png);
  text-indent: -5000px;  
}

#header #user {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
}

#header #projectof {
  position: absolute;
  right: 0;
  bottom: 16px;
  font-size: 12px;
}

#header #user a {
  color: #fff;
}

#crumbs {
  width: 765px;
  margin: 8px auto 0 auto;
  font-size: 12px;
}

#crumbs a {
  color: #000;
  text-decoration: underline; 
}

#explanation {
  padding-bottom: 2em;
  font-size: 20px;
  line-height: 28px;
}

#mission {
  width: 749px; /* (765px desired visual width) minus (16px horiz padding) */
  margin: 8px auto;
}

#mission img {
  float: left;
  width: 164px; /* center over sidebar blocks, mirror 8px padding */
  margin-right: 24px; /* line up the #missiontext left-border with the #content left-border */
  background: #fff;
}

#mission #missiontext {
  float: left;
  font-size: 14px;
}

#mission #missiontext h2 {
  font-size: 18px;
  color: #039;
}

#mission #missiontext #missionsub {
  font-size: 11px;
  overflow: hidden;
  width: 550px;
  height: 1em;
}

#body {
  width: 765px;
  margin: 16px auto;
}

.block {
  background: #9cf;
  padding: 8px;
  font-size: 12px;
}

.block h3 {
  color: #039;
  font-size: 14px;
}

.block h4 {
  font-size: 11px;
}

.block a {
  color: #000;
}
.block ul {
  list-style: none;
  padding: 0;
}
.block ul li{
  margin-bottom: .5em;
}

#sidebar {
  width: 180px;
  float: left;
  margin-right: 20px;
}

#sidebar .block {
  width: 164px; /* (180px desired visual width) minus (16px horiz padding) */
  margin-bottom: 20px;
}

#content {
  float: left;
  margin-bottom: 36px;
}

#content.narrow {
  width: 565px;
}

#content.wide {
  width: 765px;
}

.timeline,
.org,
.policy {
  font-size: 14px;  
  clear: left;
  margin-bottom: 24px;
}

.timeline img {
  float: left;
  margin-right: 12px;
}

.org img,
.policy img {
  float: left;
  margin-right: 12px;
}

.timeline .info {
  float: left;
  width: 480px;
}

.org .info {
  float: left;
  color: #333;
}

.policy.first .url a {
  color: #000;
}

.policy .info {
  float: left;
  width: 530px;
}

.org .info h3 a,
.policy .info h3 a {
  color: #f00;
  font-weight: bold;  
}

.timeline .info .when,
.policy .info .links,
.policy .info .source {
  color: #666;
  font-size: 11px;
}

#footer {
  margin: 0;

  width: 100%;
  height: 50px;

  background: #039;
  color: #fff;
  
  clear: left;
}

#innerfooter {
  width: 765px;
  height: 50px;
  margin: 0 auto;
  position: relative;
}

#footer h5{
  position: absolute;
  top: 4px;
  left: 0;

  width: 306px;
  height: 30px;
  background-image: url(footer.png);
  
  text-indent: -5000px;
}


/* DIFF styles */

.left_side, .right_side {
    vertical-align: top;
}

#diff .left_side del    {
    background-color: #9cf;
}

#diff .left_side ins {
	display: none;
}

#diff .right_side del    {
	display: none;
}

#diff .right_side ins    {
    background-color: #ff8;
}

ins {
    background-color: #ff8;
}

del {
    background-color: #9cf;
}

#diffheader,
#diff {
  width: 765px;
}

#diff tr {
  word-break: break-all;  
}

#diffheader td.left_side,
#diff td.left_side,
#diffheader td.right_side,
#diff td.right_side {
  width: 345px;
  vertical-align: top;
}

#diffheader td.spacer,
#diff td.spacer {
  width: 45px;
}

#diffheader .befaft {
  font-size: 36px;
  font-weight: bold;
}

#diffheader h3 a {
  font-size: 18px;
}

#diffheader .when,
#diffheader .key {
  color: #666;
  font-size: 14px;
  line-height: 20px;
}

#diffheader .diffchange {
  color: #333;
}

#diffheader .left .key .blop,
.left .diffchange p,
.left .diffchange li,
.left .diffchange {
  background: #9cf;
}

#diffheader .right .key .blop,
.right .diffchange p,
.right .diffchange li,
.right .diffchange {
  background-color: #ff8;
}

table#diff .counter {
  background-color: #ddd;
  color: #666;
  width: 20px;
  font-family: courier;
  font-size: 10px;
  vertical-align: top;
}


/* ABOUT page */

#about h2 {
  font-size: 20px;
}

#about h3 {
  padding-top: 1em;
}

#about p {
  font-size: 14px;
}

/* DEBUGGERY */

#debug {
  
}

#debug .query {
  margin: 1em;
}

/* REPORT page */

#report table a {
  color: #000;
}

#report table tr.error {
  background: #faa;
}

/* MISC */

#error {
  background: #faa;
  padding: 8px;
  width: 549px;
  margin: 0 auto 16px auto;
}