/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * You can change require_directory back to require_tree when we're done with the temp notifications page
 */

/*Global Vars*/
$box-shadow-color: #ccc;
$link-color: #f00;

.alert-box {
  text-align: center;
  border: 1px dotted #f00;
  /*background: #9cf;*/
  padding: 8px;
}

#session-links {
  position: absolute;
  right: 0px;
  /*bottom: 4px;*/
  top: 4px;
  border: 1px solid white;
  padding: 2px;

  font-size: 12px;
  font-weight: bold;

  a {
    color: white;
  }
}

@import 'notifications';
@import 'policies';
