<div id="footer">
  
  <div id="innerfooter">
    <a href="http://www.eff.org/"><h5>A Project of the Electronic Frontier Foundation | eff.org</h5></a>
    <a href="http://tosdr.org/"><div id="tosdr_footer">Terms of Service; Didn't Read</div></a>		
  </div><!--innerfooter-->
  
</div><!--footer-->
