  <div id="header">
    <div id="innerheader">
      <a href="http://tosback.org/">
        <h1 id="logo">
          TOSBack
        </h1>
        <div id="tagline">
          The terms-of-service tracker.
        </div><!--tagline-->
      </a>

      <% comment do %>
        <div id='session-links'>
          <% if user_signed_in? %>
            <%= link_to "Account", edit_user_registration_path %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path %>
          <% end %>
        </div>
      <% end %>

      <div id="projectof">
        <a href="http://tosdr.org/"><div id="tosdr_logo">ToS;DR</div>
        </a>
      </div>
    </div><!--innerheader-->
  </div><!--header-->

