<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <title>TOSBack | The Terms-Of-Service Tracker</title>
  <%= stylesheet_link_tag    "oldcss/notifications", :media => "all" %>
</head>
<body>

<div id="page">
  <div id="header">
    <div id="innerheader">
      <a href="http://www.tosback.org/">
        <h1 id="logo">
          TOSBack
        </h1>
        <div id="tagline">
          The terms-of-service tracker.
        </div><!--tagline-->
      </a>
      
            
      <a href="http://www.eff.org/">
		<%= image_tag "eff_project.png", alt:"A Project Of the EFF", id:"projectof" %>
      </a>

    </div><!--innerheader-->
  </div><!--header-->
  
  
  <div id="mission" class="block">
    <h2>TOSBack.org is Under Construction</h2>
    <p>
      The information in TOSBack.org is not always accurate. Before relying on it, please check with the operator of the website in question
    </p>
  </div>
  
    
<div id="body">
	<div id="sidebar">
		<div class='block'>
			<h3>
				Hello
			</h3>
			<ul>
				<li>
					<a href='about.php'>Learn About TOSBack</a>
				</li>
				<li>
					<a href='rss.php'>Subscribe to RSS</a>
				</li>
			</ul>
		</div>
		<div class='block'>
			<h3>
				Highlighted Policies
			</h3>
			<div class='blockbody'>
				<ul>
					<li>
						<a href='http://www.tosback.org/policy.php?pid=33'>Blizzard World Of Warcraft Terms Of Use</a>
					</li>
					<li>
						<a href='http://www.tosback.org/policy.php?pid=8'>EBay User Agreement</a>
					</li>
					<li>
						<a href='http://www.tosback.org/policy.php?pid=39'>Facebook Privacy Policy</a>
					</li>
					<li>
						<a href='http://www.tosback.org/policy.php?pid=15'>GoDaddy Universal Terms Of Service</a>
					</li>
				</ul>
			</div><!--blockbody-->
		</div><!--block-->
		<div class='block'>
			<h3>
				Organizations
			</h3>
			<div class='blockbody'>
				<ul>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=1'>Amazon</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=2'>Apple</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=26'>AT&amp;T</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=22'>Automattic</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=3'>Blizzard</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=31'>Comcast</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=4'>Craigslist</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=21'>Data.gov</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=5'>DoubleClick</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=30'>EarthLink</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=6'>EBay</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=7'>Electronic Frontier Foundation</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=8'>Facebook</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=9'>Flickr</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=11'>GoDaddy</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=12'>Google</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=14'>MySpace</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=25'>Netflix</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=13'>Organizing For America</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=24'>Paypal</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=15'>Recovery.gov</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=28'>Sprint</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=29'>T-Mobile</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=32'>Time-Warner Cable</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=17'>Twitter</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=27'>Verizon</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=18'>Whitehouse.gov</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=19'>Yahoo!</a>
					</li>
					<li>
						<a href='http://www.tosback.org/organization.php?cid=20'>YouTube</a>
					</li>
				</ul>
			</div><!--blockbody-->
		</div><!--block-->
	</div><!--sidebar-->
	<div id="content" class="narrow">
		<div id='explanation'>
			TOSBack keeps an eye on website policies.<br>
			Every time one of them changes, you'll see an update here.
		</div>
			
		<%= yield %>	
			
	</div><!--narrow content -->
</div><!-- body-->


  <div id="footer">
    
    <div id="innerfooter">
      <a href="http://www.eff.org/"><h5>A Project of the Electronic Frontier Foundation | eff.org</h5></a>
    </div><!--innerfooter-->
    
  </div><!--footer-->

</div><!-- page -->


</body></html>